<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#each characters.results}}
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="/characters/id/{{this.id}}">
                        <img style="width: 100%; height:250" src="{{this.thumbnail.path}}.{{this.thumbnail.extension}}"
                            alt="">
                    </a>
                    <div class="card-body">
                        <p class="card-text">{{this.name}}</p>
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary"
                                    href="/characters/id/{{this.id}}">view</a>
                                <form action="/user/favorites" method="post">
                                    <input type="hidden" name="id" value="{{this.id}}">
                                    <input type="hidden" name="name" value="{{this.name}}">
                                    <input type="hidden" name="image_path"
                                        value="{{this.thumbnail.path}}.{{this.thumbnail.extension}}">
                                    <button class="btn btn-sm btn-outline-secondary" type="submit">Favorite</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{{paginacao}}}
    </div>
</div>