<h1>Characters</h1>
<p>Welcome to Character</p>

{{character.id}}<br />
{{character.name}}<br />
<img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}">
{{character.description}}<br />
