<h1>Characters</h1>
<p>Welcome to Character</p>
<p><a href="/user/favorites?id={{character.id}}&name={{character.name}}">Marcar como favorito</a></p>

{{character.id}}<br />
{{character.name}}<br />
<img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}">
{{character.description}}<br />
